{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="chart">
    <!-- 환자에 대한 정보가 저장되어있는 딕셔너리 전부 불러옴 -->
    {% for key, value in total_age_avg.items %}
        <input id="{{key}}" type="hidden" value="{{value}}">
    {% endfor %}

    {% for key, value in total_gender_avg.items %}
        <input id="{{key}}" type="hidden" value="{{value}}">
    {% endfor %}

    {% for key, value in total_SES_avg.items %}
        <input id="{{key}}" type="hidden" value="{{value}}">
    {% endfor %}

    {% for key, value in total_educ_avg.items %}
        <input id="{{key}}" type="hidden" value="{{value}}">
    {% endfor%}
    <div class="con">
        <!-- Gender-Dementia chart -->
        <div class="chart_menu">
            <div class="title">
                <h2><i class="material-icons">insert_chart</i>성별 임상치매척도</h2>
            </div>
            <div class="sub_title">
                <p>correlation chart about gender and demetia patient rate</p>
            </div>
            <canvas id="gender_chart" width="500" height="500"></canvas>
        </div>
        <!-- Age-Grade chart -->
        <div class="chart_menu">
            <div class="title">
                <h2><i class="material-icons">pie_chart</i>연령별 임상치매척도</h2>
            </div>
            <div class="sub_title">
                <p>correlation chart about age rate and grade</p>
            </div>
            <canvas id="age_chart" width="400" height="400"></canvas>
        </div>
        <!-- Disease-Dementia chart -->
        <div class="chart_menu">
            <div class="title">
                <h2><i class="material-icons">pie_chart</i>사회적 지위별 임상치매척도</h2>
            </div>
            <div class="sub_title">
                <p>correlation chart about age rate and grade</p>
            </div>
            <canvas id="disease_chart" width="400" height="400"></canvas>
        </div>
        <!-- Question-Correct rate chart -->
        <div class="chart_menu">
            <div class="title">
                <h2><i class="material-icons">insert_chart</i>교육 기간 별 임상치매척도</h2>
            </div>
            <div class="sub_title">
                <p>correlation chart about question and correct rate</p>
            </div>
            <canvas id="number_pass_chart" width="400" height="400"></canvas>
        </div>
    </div>
</section>

<!-- gender_chart -->
<script>
    var ctx = document.getElementById('gender_chart');
    var gender_arr = new Array();
    // 딕셔너리 넘겨받기
    male = $('#male').val();
    female = $('#female').val();
    
    // 소수점 2자리수까지 자르기
    male = male.substr(0,4);
    female = female.substr(0,4);
    gender_arr.push(male);
    gender_arr.push(female);
    
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['남성', '여성'],
            datasets: [{
                label: '# 임상치매척도(CDR)',
                data: gender_arr,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0.1,
                        stepSize: 0.1
                    }
                }]
            }
        }
    });
</script>

<!-- age chart -->
<script>
    var ctx = document.getElementById('age_chart');
    // 배열 선언
    var age_arr = new Array();
    // 딕셔너리 넘겨받는 반복문
    for(var i = 50; i < 100; i += 10){
        temp = '#' + String(i);
        age = $(temp).val();
        age = age.substr(0,4);
        age_arr.push(Number(age));
    }
    
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['50대 이하', '60대', '70대', '80대', '90대 이상'],
            datasets: [{
                label: '# 임상치매척도(CDR)',
                data: age_arr,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                pointBackgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                pointBorderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                }]
            }
        }
    });
</script>
<!-- SES-Dementia chart -->
<script>
    var ctx = document.getElementById('disease_chart');
    // 배열 선언
    var SES_arr = new Array();
    
    for(var i = 1; i < 6; i++){
        temp = '#' + String(i);
        SES = $(temp).val();
        SES_arr.push(Number(SES));
    }

    
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['5(하위)', '4(중하)', '3(중간)', '2(중상)', '1(상위)'],
            datasets: [{
                label: '# 환자 비율',
                data: SES_arr,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<!-- educ-dementia chart -->
<script>
    var ctx = document.getElementById('number_pass_chart');

    var educ_arr = new Array();
    
    for(var i = 8; i < 21; i++){
        temp = '#' + String(i);
        educ = $(temp).val();
        educ = educ.substr(0,4);
        educ_arr.push(Number(educ));
    }

    console.log(educ_arr);
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['8년 이하', '9년', '10년', '11년', '12년', '13년', '14년', '15년', '16년', '17년', '18년', '19년', '20년 이상'],
            datasets: [{
                label: '# 임상치매척도(CDR)',
                data: educ_arr,
                backgroundColor: [
                    'rgb(211,47,47,0.2)',
                    'rgb(194,24,91,0.2)',
                    'rgba(123,31,162,0.2)',
                    'rgb(81,45,168,0.2)',
                    'rgb(48,63,159,0.2)',
                    'rgb(25,118,210,0.2)',
                    'rgb(2,136,209,0.2)',
                    'rgb(0,151,167,0.2)',
                    'rgb(0,121,107,0.2)',
                    'rgb(56,142,60,0.2)',
                    'rgb(104,159,56,0.2)',
                    'rgb(175,180,43,0.2)',
                    'rgb(251,192,45,0.2)',
                ],
                borderColor: [
                    'rgb(211,47,47)',
                    'rgb(194,24,91)',
                    'rgba(123,31,162)',
                    'rgb(81,45,168)',
                    'rgb(48,63,159)',
                    'rgb(25,118,210)',
                    'rgb(2,136,209)',
                    'rgb(0,151,167)',
                    'rgb(0,121,107)',
                    'rgb(56,142,60)',
                    'rgb(104,159,56)',
                    'rgb(175,180,43)',
                    'rgb(251,192,45)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

{% endblock content %}
