{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="head-image">

    </section>

    <section class="introduction">
        <div class="intro-con">
            <div class="title">
                <h2><i style="margin-right: 25px;" class="fas fa-check"></i>클루피의 자동 채점 모듈</h2>
            </div>
            <div class="content">
                <p>" 클루피는 기계학습을 통해 의료진들이 수동으로 검사지 채점 시 발생하는 비효율과 오류를 줄이고 가시화된 실시간 검사 결과를 제공합니다 "</p>
            </div>
        </div>
    </section>

    <section class="tech">
        <div class="tech-con">
            <div class="tech-title">
                <h2><i style="margin-right: 25px;" class="fas fa-check"></i>클루피의 기술</h2>
            </div>
            <div class="tech-content">
                <div class="tech-card">
                    <div class="icon">
                        <i class="far fa-clone"></i>
                    </div>
                    <div class="title">
                        <h3>OpenCV</h3>
                    </div>
                    <div class="content">
                        <p>OpenCV를 활용한 데이터 전처리</p>
                    </div>
                </div>
    
                <div class="tech-card">
                    <div class="icon">
                        <i class="fas fa-robot"></i>
                    </div>
                    <div class="title">
                        <h3>머신러닝</h3>
                    </div>
                    <div class="content">
                        <p>CNN합성곱을 활용한 머신러닝</p>
                    </div>
                </div>
    
                <div class="tech-card">
                    <div class="icon">
                        <i class="fab fa-chrome"></i>
                    </div>
                    <div class="title">
                        <h3>웹어플리케이션</h3>
                    </div>
                    <div class="content">
                        <p>웹어플리케이션으로 자동채점서비스 제공</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
