{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="scoring">
    <div class="con" id="con_change">
        <form enctype='multipart/form-data' method="POST" id="mainform">
            {% csrf_token %}
            <!-- 개인 정보 입력 -->
            <div id="default">
                <!-- 성명, 성별 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="name" placeholder="O O O" id="name" type="text" class="validate">
                        <label for="name">이름</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="gender">
                            <option value="" disabled selected>성별</option>
                            <option value="1">남</option>
                            <option value="2">여</option>
                        </select>
                    </div>
                </div>
                <!-- 연령, 혈액형 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="age" id="age" type="number" class="validate">
                        <label for="age">나이</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="blood_type">
                            <option value="" disabled selected>혈액형</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">O</option>
                            <option value="4">AB</option>
                        </select>
                    </div>
                </div>
                <!-- 신장, 몸무게 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="height" name="height" type="number" class="validate">
                        <label for="height">신장</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="weight" name="weight" type="number" class="validate">
                        <label for="weight">몸무게</label>
                    </div>
                </div>
                <!-- 과거력, 진단일 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <select name="past_diagnostic_record">
                            <option value="" disabled selected>과거력</option>
                            <option value="1">뇌졸증</option>
                            <option value="2">심장병</option>
                            <option value="3">고혈압</option>
                            <option value="4">당뇨병</option>
                            <option value="5">기타(암포함)</option>
                            <option value="6">없음</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <input id="pub_date" name="pub_date" type="date" class="validate">
                        <label for="pub_date">진단일</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="educ" name="educ" type="number" class="validate">
                        <label for="educ">교육 기간</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="hand">
                            <option value="" disabled selected>손잡이</option>
                            <option value="1">오른손</option>
                            <option value="2">왼손</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select name="MRIcheck" id="check_mri">
                            <option value="" disabled selected>MRI 검사 여부</option>
                            <option value="yes">예</option>
                            <option value="no">아니오</option>
                        </select>
                    </div>
                </div>
                <div class="submit">
                    <a onclick="cust('second')" class="waves-effect waves-light btn">Next</a>
                </div>
            </div>
            <div class="none" id="second">
                <!-- ASF: float, nWBV: float 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="ASF" id="ASF" type="number" step="0.001" class="validate">
                        <label for="ASF">ASF</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="nWBV" id="nWBV" type="number" step="0.001" class="validate">
                        <label for="nWBV">nWBV</label>
                    </div>
                </div>
                <!-- eTIV: integer, MR_Delay: integer 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="eTIV" id="eTIV" type="number" class="validate">
                        <label for="eTIV">eTIV</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="MR_Delay" name="MR_Delay" type="number" class="validate">
                        <label for="MR_Delay">MR_Delay</label>
                    </div>
                </div>
                <!-- MMSE: float, SES: float(1.0, 2.0 ... 5.0) 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="MMSE" name="MMSE" type="number" step="0.1" class="validate">
                        <label for="MMSE">MMSE</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="SES">
                            <option value="" disabled selected>SES</option>
                            <option value="1.0">1.0</option>
                            <option value="2.0">2.0</option>
                            <option value="3.0">3.0</option>
                            <option value="4.0">4.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                    </div>
                </div>
                <div class="submit">
                    <a onclick="cust('0')" class="waves-effect waves-light btn">Next</a>
                </div>
            </div>
            {% for key, value in dic.items %}
            <!-- 답안지 체출 -->
            <div class="none" id="{{key}}">
                <div style="text-align: center;">
                    <div class="title">
                        <h3>{{key}}번 문제</h3>
                    </div>
                    <div class="preview_patient_image">
                        <img src="" id="preview-{{value}}" height="400px" />
                    </div>
                </div>
                
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="file{{key}}" id="{{value}}">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">assignment_turned_in</i>
                        <input id="icon_prefix" type="number" name="{{value}}" class="validate">
                        <label for="icon_prefix">answer</label>
                    </div>
                </div>
                <div class="submit">
                    <a onclick="cust('{{key}}')" class="waves-effect waves-light btn">Next</a>
                </div>
            </div>
            {% endfor %}
            <!-- 채점 -->
            <div style="display: flex; justify-content: center;">
                <div id="submit_id" class="view_score">
                    <input type="submit" class="btn btn-dark" value="submit">
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    function cust(arg){
        if(arg == 'second'){
            checkmri = $('#check_mri').val();
            // mri 검사 여부에 따른 평가지표 제출
            if(checkmri == 'yes'){
                $('#default').css('display','none');
                $('#second').css('display','unset');
            }
            else{
                $('#default').css('display','none');
                $('#1').css('display','unset');
                $('#con_change').css('width', '500px');
            }
        }
        else if(arg == '0'){
            $('#second').css('display','none');
            $('#1').css('display','unset');
            $('#con_change').css('width', '500px');
        }
        else if(arg == '5'){
            $('#5').css('display','none');
            $('#submit_id').css('display','unset');
        }
        else{
            temp = '#' + arg;
            next = '#' + String(Number(arg) + 1);
            $(temp).css('display','none');
            $(next).css('display','unset');
        }
    }
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgId = '#preview-'+$(input).attr('id');
                $(imgId).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("form#mainform input[type='file']").change(function(){
        readURL(this);
        });
</script>

<script>
    // select tag
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>


{% endblock content %}
