{% extends 'base.html' %}
{% block content %}
<section class="scoring">
    <div class="con">
        <form enctype='multipart/form-data' method="POST" id="mainform">
            {% csrf_token %}
            <!-- 개인 정보 입력 -->
            <div id="default">
                <!-- 성명, 성별 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="name" placeholder="O O O" id="name" type="text" class="validate">
                        <label for="name">이름</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="gender">
                            <option value="" disabled selected>성별</option>
                            <option value="1">남</option>
                            <option value="2">여</option>
                        </select>
                    </div>
                </div>
                <!-- 연령, 혈액형 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input name="age" id="age" type="number" class="validate">
                        <label for="age">나이</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="blood_type">
                            <option value="" disabled selected>혈액형</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">O</option>
                            <option value="4">AB</option>
                        </select>
                    </div>
                </div>
                <!-- 신장, 몸무게 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="height" name="height" type="number" class="validate">
                        <label for="height">신장</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="weight" name="weight" type="number" class="validate">
                        <label for="weight">몸무게</label>
                    </div>
                </div>
                <!-- 과거력, 진단일 입력 -->
                <div class="row">
                    <div class="input-field col s6">
                        <select name="past_diagnostic_record">
                            <option value="" disabled selected>과거력</option>
                            <option value="1">뇌졸증</option>
                            <option value="2">심장병</option>
                            <option value="3">고혈압</option>
                            <option value="4">당뇨병</option>
                            <option value="5">기타(암포함)</option>
                            <option value="6">없음</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <input id="pub_date" name="pub_date" type="date" class="validate">
                        <label for="pub_date">진단일</label>
                    </div>
                </div>
                <div class="submit">
                    <a onclick="cust('0')" class="waves-effect waves-light btn">Next</a>
                </div>
            </div>
            {% for key, value in dic.items %}
                <!-- 답안지 체출 -->
                <div class="none" id="{{key}}">
                    <div style="text-align: center;">
                        <div class="title">
                            <h3>{{key}}번 문제</h3>
                        </div>
                        <div class="preview_patient_image">
                            <img src="" id="preview-{{value}}" height="400px" />
                        </div>
                    </div>
                    
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="file{{key}}" id="{{value}}">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">assignment_turned_in</i>
                            <input id="icon_prefix" type="number" name="{{value}}" class="validate">
                            <label for="icon_prefix">answer</label>
                        </div>
                    </div>
                    <div class="submit">
                        <a onclick="cust('{{key}}')" class="waves-effect waves-light btn">Next</a>
                    </div>
                </div>
            {% endfor %}
            <!-- 채점 -->
            <div style="display: flex; justify-content: center;">
                <div id="submit_id" class="view_score">
                    <input type="submit" class="btn btn-dark" value="submit">
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    function cust(arg){
        if(arg == '0'){
            $('#default').css('display','none');
        }
        if(arg == '4'){
            $('#submit_id').css('display','unset');
        }
        temp = '#' + arg;
        next = '#' + String(Number(arg) + 1);
        $(temp).css('display','none');
        $(next).css('display','unset');
    }
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgId = '#preview-'+$(input).attr('id');
                $(imgId).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("form#mainform input[type='file']").change(function(){
        readURL(this);
        });
</script>

<script>
    // select tag
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>


{% endblock content %}
